<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stx.sofc.mappers.dashboard.site">
	
	<select id="siteEffiGraph" parameterType="com.stx.sofc.dashboard.vo.DashboardVO" resultType="com.stx.sofc.dashboard.vo.DashboardVO">
		/**
		* Query ID : siteEffiGraph
		* Description : 발전 효율 그래프 데이터
		* Author : kct
		**/
		SELECT A.iSiteNum, 
				 A.sSiteName,
				 AVG(ISNULL(AA.fTodayEfficiency, 0)) AS tdEfficiency
		FROM Site_Info A
		LEFT OUTER JOIN System_Info AA ON A.iCityNum = AA.iCityNum AND A.iAreaNum = AA.iAreaNum AND A.iSiteNum = AA.iSiteNum
		WHERE 1=1	
		AND A.iCityNum = #{iCityNum}
		AND A.iAreaNum = #{iAreaNum}
		GROUP BY A.iSiteNum, A.sSiteName
	</select>
	
	<select id="siteMeasure" parameterType="com.stx.sofc.dashboard.vo.DashboardVO" resultType="com.stx.sofc.dashboard.vo.DashboardVO">
		/**
		* Query ID : siteMeasure
		* Description : 발전기 최근 측정값
		* Author : kct
		**/
		WITH AA AS (
					<!-- 전일 누적 발전량 -->
					SELECT Top 1 RTU_ID, fCumulativeWatt
					FROM STX_SOFC_MEASURE
					WHERE CONVERT(CHAR(8), Timestamp, 112) <![CDATA[  < ]]>  CONVERT(VARCHAR, GETDATE(), 112)
					AND RTU_ID = #{iRtuNum}
					ORDER BY Timestamp DESC
		),
		BB AS ( 
					<!-- 당일 발전량  -->
					SELECT RTU_ID, MAX(fCumulativeWatt) - Min(fCumulativeWatt) AS fCumulativeWatt
					FROM STX_SOFC_MEASURE 
					WHERE CONVERT(INT, Convert(CHAR(8), Timestamp, 112)) = CONVERT(VARCHAR, GETDATE(), 112) 
					AND RTU_ID = #{iRtuNum}
					GROUP BY RTU_ID
		),
		CC AS (		
		 			<!-- 당일 사용 열량 -->
					SELECT TOP 1 RTU_ID, Accumulate_Heat_Consume
					FROM STX_SOFC_MEASURE
					WHERE CONVERT(INT, Convert(CHAR(8), Timestamp, 112)) = CONVERT(VARCHAR, GETDATE(), 112)
					AND RTU_ID = #{iRtuNum}
					ORDER BY Timestamp DESC
		),
		DD AS (
		 			<!-- 전기 에너지 누적 발전량 -->
					SELECT TOP 1 RTU_ID, fCumulativeWatt 
					FROM STX_SOFC_MEASURE 
					WHERE CONVERT(INT, CONVERT(CHAR(8), Timestamp, 112)) = CONVERT(VARCHAR, GETDATE(), 112)
					AND RTU_ID = #{iRtuNum}
					ORDER BY Timestamp DESC
		),
		EE AS (
		 			<!-- 열에너지 금일 생산량 --> 
		 			SELECT RTU_ID, MAX(Accumulate_Heat_Produce) - MIN(Accumulate_Heat_Produce) AS Accumulate_Heat_Produce
					FROM STX_SOFC_MEASURE 
					WHERE CONVERT(INT, CONVERT(CHAR(8), Timestamp, 112)) = CONVERT(VARCHAR, GETDATE(), 112)
					AND RTU_ID = #{iRtuNum}
					GROUP BY RTU_ID
		),
		FF AS (
		 			<!-- 열에너지 누적생산량 --> 
		 			SELECT TOP 1 RTU_ID, Accumulate_Heat_Produce
					FROM STX_SOFC_MEASURE
					WHERE CONVERT(INT, CONVERT(CHAR(8), Timestamp, 112)) = CONVERT(VARCHAR, GETDATE(), 112)
					AND RTU_ID = #{iRtuNum}
					ORDER BY Timestamp DESC
		),
		GG AS (
		 			<!-- 전국 발전량 그래프 --> 
					SELECT TOP 1 RTU_ID, txtCumulativeWattHour, TIMESTAMP, Status_Board_State
					FROM STX_SOFC_MEASURE 
					WHERE CONVERT(INT, CONVERT(CHAR(8), Timestamp, 112)) = CONVERT(VARCHAR, GETDATE(), 112) 
					AND RTU_ID = #{iRtuNum}
					ORDER BY Timestamp DESC
		)
		SELECT A.iRtuNum, 
				A.sSystemName,
				ISNULL(ROUND(BB.fCumulativeWatt, 2), 0) AS tdCumulativeWatt,
				ISNULL(ROUND(A.fTodayEfficiency, 2), 0) AS tdEfficiency,
				ISNULL(ROUND(CC.Accumulate_Heat_Consume, 2), 0) AS tdAccumulateHeatConsume,
				ISNULL(ROUND(AA.fCumulativeWatt, 2), 0) AS pdCumulativeWatt,
				ISNULL(ROUND(A.fCumulativeEfficiency, 2), 0) AS cumulativeEfficiency,
				
				ISNULL(ROUND((BB.fCumulativeWatt * A.fCO2) / 1000, 5), 0) AS tdReductionCo2Watt,
				ISNULL(A.fCapa, 0) AS fCapa,
				ISNULL(ROUND(DD.fCumulativeWatt, 2), 0) AS cumulativeWatt,
				
				ISNULL(ROUND(EE.Accumulate_Heat_Produce, 2), 0) AS tdAccumulateHeatProduce,
				ISNULL(ROUND((EE.Accumulate_Heat_Produce * A.fCO2) / 1000, 5), 0) AS tdReductionCo2Heat,
				ISNULL(A.fCapa_Solar, 0) AS fCapa_Solar,
				ISNULL(ROUND(FF.Accumulate_Heat_Produce, 2), 0) AS accumulateHeatProduce,
				
				ISNULL(GG.txtCumulativeWattHour, '') AS txtCumulativeWattHour,
				ISNULL(GG.timestamp, '') AS timestamp,
				ISNULL(GG.Status_Board_State, 0) AS tdStatusBoardState
		FROM System_Info A
		LEFT OUTER JOIN AA ON A.iRtuNum = AA.RTU_ID
		LEFT OUTER JOIN BB ON A.iRtuNum = BB.RTU_ID
		LEFT OUTER JOIN CC ON A.iRtuNum = CC.RTU_ID
		LEFT OUTER JOIN DD ON A.iRtuNum = DD.RTU_ID
		LEFT OUTER JOIN EE ON A.iRtuNum = EE.RTU_ID
		LEFT OUTER JOIN FF ON A.iRtuNum = FF.RTU_ID
		LEFT OUTER JOIN GG ON A.iRtuNum = GG.RTU_ID
		WHERE A.iRtuNum = #{iRtuNum}
	</select>
	
	<select id="siteList" parameterType="com.stx.sofc.dashboard.vo.DashboardVO" resultType="com.stx.sofc.dashboard.vo.DashboardVO">
		/**
		* Query ID : siteList
		* Description : 지역 리스트 조회
		* Author : kct
		**/
		<![CDATA[
			SELECT *
			FROM (
				SELECT ROW_NUMBER() OVER(ORDER BY BB.sSys_cnt) ROWNUM, *
				FROM (
						SELECT A.iCityNum,
								 (SELECT sCityName FROM CITY_INFO WHERE iCityNum = A.iCityNum) AS sCityName,
								 A.iAreaNum, 
								 (SELECT sAreaName FROM AREA_INFO WHERE iCityNum = A.iCityNum AND iAreaNum = A.iAreaNum) AS sAreaName,
								 A.iSiteNum, 
								 A.sSiteName,
								 (SELECT COUNT(iRtuNum) FROM System_Info WHERE iCityNum = A.iCityNum AND iAreaNum = A.iAreaNum AND iSiteNum = A.iSiteNum) AS sSys_cnt,
			 					 ISNULL(SUM(AA.fCapa), 0) AS fCapa,
								 AVG(ISNULL(AA.fTodayEfficiency, 0)) AS sUse_Per
						FROM Site_Info A
						LEFT OUTER JOIN System_Info AA ON A.iCityNum = AA.iCityNum AND A.iAreaNum = AA.iAreaNum AND A.iSiteNum = AA.iSiteNum
						WHERE 1=1	
						AND A.iCityNum = #{iCityNum}
						AND A.iAreaNum = #{iAreaNum}
						GROUP BY A.iCityNum,A.iAreaNum, A.iSiteNum, A.sSIteName	
				) BB
			) CC
			WHERE CC.ROWNUM BETWEEN #{start} AND #{end}
			ORDER BY CC.iSiteNum
		]]>
	</select>
	
	<select id="siteNameList" parameterType="com.stx.sofc.dashboard.vo.DashboardVO" resultType="com.stx.sofc.dashboard.vo.DashboardVO">
		/**
		* Query ID : siteNameList
		* Description : 공장 리스트 갯수 조회
		* Author : kct
		**/
		<![CDATA[
			SELECT A.iCityNum, A.iAreaNum, A.iSiteNum, A.sSiteName
			FROM SITE_INFO A
			WHERE 1=1	
			AND A.iCityNum = #{iCityNum}
			AND A.iAreaNum = #{iAreaNum}
		]]>
	</select>
	
	<select id="siteMeasureList" parameterType="com.stx.sofc.dashboard.vo.DashboardVO" resultType="com.stx.sofc.dashboard.vo.DashboardVO">
		/**
		* Query ID : siteMeasureList
		* Description : 공장별 최근 측정값
		* Author : kct
		**/
		<![CDATA[
			
			WITH PREDAY_STX_SOFC_MEASURE AS (
				SELECT RTU_ID,
						Accumulate_Watt_Produce,
						Accumulate_Heat_Produce
				FROM STX_SOFC_MEASURE
				WHERE ID IN (
								SELECT ID
								FROM STX_SOFC_MEASURE A
								JOIN (
										SELECT RTU_ID, MAX(TIMESTAMP) AS TIME
										FROM STX_SOFC_MEASURE
										WHERE RTU_ID IN (
															SELECT iRtuNum
															FROM SYSTEM_INFO
															WHERE 1=1
															AND iCityNum = #{iCityNum}
															AND iAreaNum = #{iAreaNum}
														)
										AND TIMESTAMP BETWEEN CONVERT(DATE, GETDATE() - 1) AND DATEADD(DAY, 1, CONVERT(DATE, GETDATE() - 1))
										GROUP BY RTU_ID
								) B
								ON A.RTU_ID = B.RTU_ID
								AND A.TIMESTAMP = B.TIME
				)
			),
			TODAY_STX_SOFC_MEASURE AS (
				SELECT RTU_ID, 
						Accumulate_Watt_Produce,
						Accumulate_Heat_Produce,
						Accumulate_Heat_Consume,
						Pre_Day_Accumulate_Heat_Produce,
						Watt_Meter,
						FL1,
						FL2
				FROM STX_SOFC_MEASURE
				WHERE ID IN (
							SELECT ID		
							FROM STX_SOFC_MEASURE A
							JOIN (
									SELECT RTU_ID, MAX(TIMESTAMP) AS TIME
							       	FROM STX_SOFC_MEASURE
							      	WHERE RTU_ID IN (
														SELECT iRtuNum
														FROM SYSTEM_INFO
														WHERE 1=1
														AND iCityNum = #{iCityNum}
														AND iAreaNum = #{iAreaNum}
													)
									AND TIMESTAMP BETWEEN CONVERT(DATE, GETDATE()) AND DATEADD(DAY, 1, CONVERT(DATE, GETDATE()))
									GROUP BY RTU_ID
							) B
							ON A.RTU_ID = B.RTU_ID
							AND A.TIMESTAMP = B.TIME	
				)
			),
			MAIN_TABLE AS (
				SELECT  A.iCityNum,
						A.iAreaNum,
						A.iSiteNum, 
						A.iSysNum,
						A.sSystemName, 
						A.fCapa AS fCapa,
						A.fCapa_Geo AS fCapa_Geo,
						A.fCapa_Solar AS fCapa_Solar,
						B.Accumulate_Watt_Produce AS pdAccumulateWattProduce,
						B.Accumulate_Heat_Produce AS pdAccumulateHeatProduce,
						C.Accumulate_Watt_Produce AS tdAccumulateWattProduce,
						C.Accumulate_Heat_Produce AS tdAccumulateHeatProduce,
						C.Accumulate_Heat_Consume AS tdAccumulateHeatConsume,
						C.Pre_Day_Accumulate_Heat_Produce AS tdPreDayAccumulateHeatProduce,
						C.Watt_Meter AS tdWattMeter,
						C.FL1 AS tdFL1,
						C.FL2 AS tdFL2
				FROM SYSTEM_INFO A 
				LEFT OUTER JOIN PREDAY_STX_SOFC_MEASURE B ON A.iRtuNum = B.RTU_ID
				LEFT OUTER JOIN TODAY_STX_SOFC_MEASURE C ON A.iRtuNum = C.RTU_ID
				WHERE 1=1
				AND iCityNum = #{iCityNum}
				AND iAreaNum = #{iAreaNum}
			)
			SELECT A.iCityNum,
					A.iAreaNum, 
					A.iSiteNum, 
					(SELECT sSiteName FROM SITE_INFO WHERE iCityNum = A.iCityNum AND iAreaNum = A.iAreaNum AND iSiteNum = A.iSiteNum) AS sSiteName,
					CONVERT(NVARCHAR(53), ISNULL(SUM(B.fCapa), 0)) AS fCapa,
					CONVERT(NVARCHAR(53), ISNULL(SUM(B.fCapa_Geo), 0)) AS fCapa_Geo,
					CONVERT(NVARCHAR(53), ISNULL(SUM(B.fCapa_Solar), 0)) AS fCapa_Solar,
					CONVERT(NVARCHAR(53), ISNULL(SUM(B.pdAccumulateWattProduce), 0)) AS pdAccumulateWattProduce,
					CONVERT(NVARCHAR(53), ISNULL(SUM(B.pdAccumulateHeatProduce), 0)) AS pdAccumulateHeatProduce,
					CONVERT(NVARCHAR(53), ISNULL(SUM(B.tdAccumulateWattProduce), 0)) AS tdAccumulateWattProduce,
					CONVERT(NVARCHAR(53), ISNULL(SUM(B.tdAccumulateHeatProduce), 0)) AS tdAccumulateHeatProduce,
					CONVERT(NVARCHAR(53), ISNULL(SUM(B.tdAccumulateHeatConsume), 0)) AS tdAccumulateHeatConsume,
					CONVERT(NVARCHAR(53), ISNULL(SUM(B.tdPreDayAccumulateHeatProduce), 0)) AS tdPreDayAccumulateHeatProduce,
					CONVERT(NVARCHAR(53), ISNULL(SUM(B.tdWattMeter), 0)) AS tdWattMeter,
					CONVERT(NVARCHAR(53), ISNULL(SUM(B.tdFL1), 0)) AS tdFL1,
					CONVERT(NVARCHAR(53), ISNULL(SUM(B.tdFL2), 0)) AS tdFL2
			FROM SITE_INFO A
			LEFT OUTER JOIN MAIN_TABLE B ON A.iCityNum = B.iCityNum AND A.iAreaNum = B.iAreaNum AND A.iSiteNum = B.iSiteNum 
			WHERE 1=1	
			AND A.iCityNum = #{iCityNum}
			AND A.iAreaNum = #{iAreaNum}
			GROUP BY A.iCityNum, A.iAreaNum, A.iSiteNum, A.sSiteName
		]]>
	</select>
	
	<select id="siteMeasureHourList" parameterType="com.stx.sofc.dashboard.vo.DashboardVO" resultType="com.stx.sofc.dashboard.vo.DashboardVO">
		/**
		* Query ID : siteMeasureHourList
		* Description : 시간별 공장 전량 평균 리스트
		* Author : kct
		**/
		<![CDATA[
			SELECT TOP 100 PERCENT 
					 A.RTU_ID, 
					(SELECT sSystemName FROM SYSTEM_INFO WHERE iRtuNum = A.RTU_ID) AS sSystemName,
					 DATEPART(HH, A.Timestamp) AS HOUR, 
					 ROUND(A.Accumulate_Watt_Produce - ISNULL(
					 										ISNULL(
																	LAG(A.Accumulate_Watt_Produce) OVER (ORDER BY A.Timestamp), 
																 	(
																		SELECT Accumulate_Watt_Produce
																		FROM STX_SOFC_MEASURE
																		WHERE ID IN (
																						SELECT ID
																						FROM STX_SOFC_MEASURE AA
																						JOIN (
																								SELECT RTU_ID, MAX(TIMESTAMP) AS TIME
																								FROM STX_SOFC_MEASURE
																								WHERE RTU_ID = #{iRtuNum}
																								AND TIMESTAMP BETWEEN CONVERT(DATE, GETDATE() - 1) AND DATEADD(DAY, 1, CONVERT(DATE, GETDATE() - 1))
																								GROUP BY RTU_ID
																							) BB
																						ON AA.RTU_ID = BB.RTU_ID AND AA.TIMESTAMP = BB.TIME
																					)
																	)
																), A.Accumulate_Watt_Produce
															),2
														) AS Accumulate_Watt_Produce
			FROM STX_SOFC_MEASURE A
			JOIN (
					SELECT TOP 100 PERCENT RTU_ID, MAX(TIMESTAMP) AS TIME
					FROM STX_SOFC_MEASURE
					WHERE 1=1
					AND TIMESTAMP BETWEEN CONVERT(DATE, GETDATE()) AND DATEADD(DAY, 1, CONVERT(DATE, GETDATE()))
					AND RTU_ID = #{iRtuNum}
					GROUP BY RTU_ID, DATEPART(DD,TIMESTAMP), DATEPART(HH, TIMESTAMP)
				) B
			ON A.RTU_ID = B.RTU_ID
			AND A.TIMESTAMP = B.TIME
			ORDER BY A.Timestamp ASC
		]]>
	</select>
	
	<select id="measureStatusList" parameterType="com.stx.sofc.dashboard.vo.DashboardVO" resultType="com.stx.sofc.dashboard.vo.DashboardVO">
		/**
		* Query ID : measureStatusList
		* Description : 시간별 공장 발전량 리스트
		* Author : kct
		**/
		<![CDATA[
			SELECT A.Status_Board_State AS tdStatusBoardState
			FROM STX_SOFC_MEASURE A
			JOIN (
					SELECT RTU_ID, MAX(TIMESTAMP) AS TIME
			       	FROM STX_SOFC_MEASURE
			      	WHERE RTU_ID IN (
										SELECT iRtuNum
										FROM SYSTEM_INFO
										WHERE 1=1
										]]>
										<if test=" iCityNum != null and iCityNum != '' ">
											<![CDATA[
												AND iCityNum = #{iCityNum}
											]]>
										</if>
										<if test=" iAreaNum != null and iAreaNum != '' ">
											<![CDATA[
												AND iAreaNum = #{iAreaNum}
											]]>
										</if>
										<if test=" iSiteNum != null and iSiteNum != '' ">
											<![CDATA[
												AND iSiteNum = #{iSiteNum}
											]]>
										</if>
										<![CDATA[
									)
					AND TIMESTAMP BETWEEN CONVERT(DATE, GETDATE()) AND DATEADD(DAY, 1, CONVERT(DATE, GETDATE()))
					GROUP BY RTU_ID
				) B
			ON A.RTU_ID = B.RTU_ID
			AND A.TIMESTAMP = B.TIME
		]]>
	</select>
	
	<insert id="insertSiteInfo" parameterType="com.stx.sofc.dashboard.vo.DashboardVO">
    	/**
		* Query ID : insertSiteInfo
		* Description : 공장 추가
		* Author : kct
		**/
    	<![CDATA[
	    	INSERT INTO SITE_INFO(iCityNum, iAreaNum, sSiteName) 
	    	VALUES(#{iCityNum}, #{iAreaNum}, #{sSiteName})
		]]>
    </insert>
    
    <delete id="deleteSiteInfo" parameterType="com.stx.sofc.dashboard.vo.DashboardVO">
		/**
		* Query ID : deleteSiteInfo
		* Description : 공장 제거
		* Author : kct
		**/
		<![CDATA[
			DELETE 
			FROM SITE_INFO
			WHERE 1=1 
		]]>
		<if test=" iCityNum != null and iCityNum != '' ">
			<![CDATA[
				AND iCityNum = #{iCityNum}
			]]>
		</if>
		<if test=" iAreaNum != null and iAreaNum != '' ">
			<![CDATA[
				AND iAreaNum = #{iAreaNum}
			]]>
		</if>
		<if test=" iSiteNum != null and iSiteNum != '' ">
			<![CDATA[
				AND iSiteNum = #{iSiteNum}
			]]>
		</if>
	</delete>
    
	<!-- <select id="systemEffi" parameterType="com.stx.sofc.dashboard.vo.DashboardVO" resultType="int">
		/**
		* Query ID : systemEffi
		* Description : 누적효율 계산값
		* Author : kct
		**/
		<![CDATA[
			SELECT ISNULL(AVG(BB.EFFICIENT), 0) AS EFFICIENT
			FROM (
				SELECT AA.RTU_ID, 
			  			AA.DATE,
			  			CASE 
							WHEN (AA.Watt_Meter - 60) / ${lhv} * (AA.FL1 + AA.FL2) * 1000 < 0 THEN 0
							ELSE (AA.Watt_Meter - 60) / ${lhv} * (AA.FL1 + AA.FL2) * 1000
						END AS EFFICIENT
				FROM (
					SELECT A.RTU_ID, 
							DATE,
							CONVERT(NUMERIC(38,0), A.Watt_Meter) AS Watt_Meter,
							CONVERT(NUMERIC(38,0), A.FL1) AS FL1,
							CONVERT(NUMERIC(38,0), A.FL2) AS FL2
					FROM STX_SOFC_MEASURE A
					JOIN (
								SELECT TOP 100 PERCENT RTU_ID, MAX(TIMESTAMP) AS DATE
								FROM STX_SOFC_MEASURE
								WHERE 1=1
								AND RTU_ID IN (
													SELECT iRtuNum
													FROM SYSTEM_INFO
													WHERE 1=1
													]]>
													<if test=" iCityNum != null and iCityNum != '' ">
														<![CDATA[
															AND iCityNum = #{iCityNum}
														]]>
													</if>
													<if test=" iAreaNum != null and iAreaNum != '' ">
														<![CDATA[
															AND iAreaNum = #{iAreaNum}
														]]>
													</if>
													<if test=" iSiteNum != null and iSiteNum != '' ">
														<![CDATA[
															AND iSiteNum = #{iSiteNum}
														]]>
													</if>
													<![CDATA[
											)
								GROUP BY RTU_ID, DATEPART(DD,TIMESTAMP)
							) B
					ON A.RTU_ID = B.RTU_ID
					AND A.TIMESTAMP = B.DATE
				) AA
			)BB
		]]>
	</select> -->
	
	<select id="systemCnt" parameterType="com.stx.sofc.dashboard.vo.DashboardVO" resultType="int">
		/**
		* Query ID : systemCnt
		* Description : 공장 리스트 갯수 조회
		* Author : kct
		**/
		<![CDATA[
			SELECT COUNT(*) AS cnt
			FROM SYSTEM_INFO A
			WHERE 1=1
			]]>
			<if test=" iCityNum != null and iCityNum != '' ">
				<![CDATA[
					AND A.iCityNum = #{iCityNum}
				]]>
			</if>
			<if test=" iAreaNum != null and iAreaNum != '' ">
				<![CDATA[
					AND A.iAreaNum = #{iAreaNum}
				]]>
			</if>
			<if test=" iSiteNum != null and iSiteNum != '' ">
				<![CDATA[
					AND A.iSiteNum = #{iSiteNum}
				]]>
			</if>
			<if test=" iRtuNum != null and iRtuNum != '' ">
				<![CDATA[
					AND A.iRtuNum = #{iRtuNum}
				]]>
			</if>
	</select>
	
	<select id="systemRtuIdList" parameterType="com.stx.sofc.dashboard.vo.DashboardVO" resultType="com.stx.sofc.dashboard.vo.DashboardVO">
		/**
		* Query ID : systemRtuIdList
		* Description : 공장 번호 리스트 조회
		* Author : kct
		**/
		<![CDATA[
			SELECT A.sSystemName, A.iRtuNum
			FROM SYSTEM_INFO A
			WHERE 1=1
			]]>
			<if test=" iCityNum != null and iCityNum != '' ">
				<![CDATA[
					AND A.iCityNum = #{iCityNum}
				]]>
			</if>
			<if test=" iAreaNum != null and iAreaNum != '' ">
				<![CDATA[
					AND A.iAreaNum = #{iAreaNum}
				]]>
			</if>
			<if test=" iSiteNum != null and iSiteNum != '' ">
				<![CDATA[
					AND A.iSiteNum = #{iSiteNum}
				]]>
			</if>
	</select>
	
	<select id="tdAccumulateWattProduceAvg" parameterType="com.stx.sofc.dashboard.vo.DashboardVO" resultType="com.stx.sofc.dashboard.vo.DashboardVO">
		/**
		* Query ID : tdAccumulateWattProduceAvg
		* Description : 당일 현재시각까지 평균발전량
		* Author : kct
		**/
		SELECT (SELECT iSiteNum FROM System_info WHERE iRtuNum = #{iRtuNum}) AS iSiteNum,
			   ISNULL(ROUND(AVG(tbl1.Accumulate_Watt_Produce), 2), 0) AS Accumulate_Watt_Produce
		FROM (
				SELECT TOP 100 PERCENT 
						ROUND(A.Accumulate_Watt_Produce - ISNULL(
																ISNULL(
																	LAG(A.Accumulate_Watt_Produce) OVER (ORDER BY A.Timestamp), 
																	(
																		SELECT Accumulate_Watt_Produce
																		FROM STX_SOFC_MEASURE
																		WHERE ID IN (
																						SELECT ID
																						FROM STX_SOFC_MEASURE AA
																						JOIN (
																								SELECT RTU_ID, MAX(TIMESTAMP) AS TIME
																								FROM STX_SOFC_MEASURE
																								WHERE RTU_ID = #{iRtuNum}
																								AND TIMESTAMP BETWEEN CONVERT(DATE, GETDATE() - 1) AND DATEADD(DAY, 1, CONVERT(DATE, GETDATE() - 1))
																								GROUP BY RTU_ID
																							) BB
																						ON AA.RTU_ID = BB.RTU_ID AND AA.TIMESTAMP = BB.TIME
																					) 
																	)
																), A.Accumulate_Watt_Produce
															),2 
							) AS Accumulate_Watt_Produce
				FROM STX_SOFC_MEASURE A
				JOIN (
						SELECT TOP 100 PERCENT RTU_ID, MAX(TIMESTAMP) AS TIME
						FROM STX_SOFC_MEASURE
						WHERE 1=1
						AND TIMESTAMP BETWEEN CONVERT(DATE, GETDATE()) AND DATEADD(DAY, 1, CONVERT(DATE, GETDATE()))
						AND RTU_ID = #{iRtuNum}
						GROUP BY RTU_ID, DATEPART(DD,TIMESTAMP), DATEPART(HH, TIMESTAMP)
					) B
				ON A.RTU_ID = B.RTU_ID
				AND A.TIMESTAMP = B.TIME
				ORDER BY A.Timestamp ASC
		) tbl1
	</select>
	
	<select id="tdFLAvg"  parameterType="com.stx.sofc.dashboard.vo.DashboardVO" resultType="String">
		/**
		* Query ID : tdFLAvg
		* Description : 당일 평균가스유량 
		* Author : kct
		**/
		SELECT ISNULL(ROUND(AVG(tbl1.FL1 + tbl1.FL2), 2), 0) AS FL_AVG
		FROM (
				SELECT TOP 100 PERCENT SUM(FL1) AS FL1, SUM(FL2) AS FL2
				FROM STX_SOFC_MEASURE
				WHERE 1=1
				AND TIMESTAMP BETWEEN CONVERT(DATE, GETDATE()) AND DATEADD(DAY, 1, CONVERT(DATE, GETDATE()))
				AND RTU_ID = #{iRtuNum}
				GROUP BY RTU_ID, DATEPART(DD,TIMESTAMP), DATEPART(HH, TIMESTAMP)
		) tbl1
	</select>
	
	<select id="adAccumulateWattProduceAvg" parameterType="com.stx.sofc.dashboard.vo.DashboardVO" resultType="String">
		/**
		* Query ID : adAccumulateWattProduceAvg
		* Description : 전체 현재시각까지 평균발전량
		* Author : kct
		**/
		SELECT ISNULL(ROUND(AVG(tbl1.Accumulate_Watt_Produce), 2), 0) AS Accumulate_Watt_Produce
		FROM (
				SELECT TOP 100 PERCENT ROUND(A.Accumulate_Watt_Produce - ISNULL(LAG(A.Accumulate_Watt_Produce) OVER (ORDER BY A.Timestamp), A.Accumulate_Watt_Produce),2) AS Accumulate_Watt_Produce
				FROM STX_SOFC_MEASURE A
				JOIN (
							SELECT TOP 100 PERCENT RTU_ID, MAX(TIMESTAMP) AS TIME
							FROM STX_SOFC_MEASURE
							WHERE 1=1
							AND RTU_ID = #{iRtuNum}
							GROUP BY RTU_ID, DATEPART(DD,TIMESTAMP), DATEPART(HH, TIMESTAMP)
						) B
				ON A.RTU_ID = B.RTU_ID
				AND A.TIMESTAMP = B.TIME
				ORDER BY A.Timestamp ASC
		) tbl1
	</select>
	
	<select id="adFLAvg"  parameterType="com.stx.sofc.dashboard.vo.DashboardVO" resultType="String">
		/**
		* Query ID : adFLAvg
		* Description : 전체 평균가스유량 
		* Author : kct
		**/
		SELECT ISNULL(ROUND(AVG(tbl1.FL1 + tbl1.FL2), 2), 0) AS FL_AVG
		FROM (
				SELECT TOP 100 PERCENT SUM(FL1) AS FL1, SUM(FL2) AS FL2
				FROM STX_SOFC_MEASURE
				WHERE 1=1
				AND RTU_ID = #{iRtuNum}
				GROUP BY RTU_ID, DATEPART(DD,TIMESTAMP), DATEPART(HH, TIMESTAMP)
		) tbl1
	</select>
	
</mapper>